* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

//Klassen

.hide {
  display: none;
}

html {
  font-family: Helvetica;
}

body {
  color: white;
  background-color: rgb(0, 69, 69);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .smallBox {
      border: 2px solid rgb(0, 102, 0);
      text-align: center;
      width: 300px;
      padding: 20px 40px;
      margin-top: 40px;
      &:nth-of-type(2) {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
      }
      h2 {
        margin-bottom: 20px;
      }
      label {
        margin-right: 10px;
        font-size: 20px;
      }
    }
    .gameWrapper {
      display: flex;
      margin-bottom: 20px;
      .rounds {
        margin: 0 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    h1 {
      margin-bottom: 20px;
      font-size: 50px;
    }
    h2 {
      margin-bottom: 20px;
    }
    a {
      font-size: 40px;
      color: tomato;
    }
    .round,
    .rounds {
      border: 2px solid black;
      width: 50px;
      height: 50px;
      padding: 20px;
      border-radius: 50%;
      .selection,
      .turnPlayer,
      .turnComp {
        font-size: 50px;
      }
    }
  }
}
